#login-options {
    z-index: 3;
    background-color: rgba(255, 255, 255, .4);
    width: fit-content; 
    position: relative;
    top: 20%;
    margin: auto;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    height: 360px;
}

#login-choice {
    font-size: 26px;
    padding: 35px;
}

#guest-choice {
    font-size: 14px;
}

#register-choice {
    font-size: 11px;
    padding: 8px;
}

#sign-up-prompt {
    font-size: 11px;
}

#login-icon {
    color: rgba(255, 255, 255,.8);
}

#decorator-icon {
    color: rgba(255, 255, 255);
}


#back-to-login2, #back-to-login2 {
    font-size: 12px;
}

.form-style-1 input[type="text"],input[type="password"], input[type="email"]{ 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 15px;
    line-height: 15px;
    font-size: 16px;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
 }

 input:focus {

    color: black;
}

#map { 
        position:absolute; 
        top:0; 
        bottom:0; 
        width:100%;
        /*z-index: 0;*/
    }

.main-content {
  position: relative;
  height: 100vh
}

.form-button {
    background-color: rgba(255, 255, 255, .9); 
    z-index: 2; 
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.form-button:hover {
    background-color: #cad2d3; 
    color: white;
    outline: none;
}



