


/*    body { 
            margin:0; 
            padding:0; 
        }*/
#map { 
        position:absolute; 
        top:0; 
        bottom:0; 
        width:100%;
    }

.save-route-btn {

    background-color: rgba(255, 255, 255, .9);
/*    position: absolute;*/
    height: 75px;
    width: 150px;  
    z-index: 2; 

}

.save-route-btn:hover {
    background-color: #FFE400; 
    color: black;
}

.animate-route-btn:hover {
    background-color: #FFE400; 
    color: black;
}

.calc-route-btn {
    background-color: rgba(255, 255, 255, .9);
    /*position: absolute;*/
    height: 75px;
    width: 150px;  
    z-index: 2; 
} 

.calc-route-btn:hover {
    background-color: #FFE400; 
    color: black;
}

.animate-route-btn{
    background-color: rgba(255, 255, 255, .9);
    /*position: absolute;*/
    height: 75px;
    width: 150px;   
    z-index: 2; 
} 

.animate-route-btn:hover {
    background-color: #FFE400; 
    color: black;
}

.main-content {
  position: relative;
  height: 100vh
}
/*
.change-style-b{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 75px;
    width: 150px;
}

.change-style-b:hover {
    background-color: #fd5e79;
    color: white;
}

.change-style-s{
    position: fixed;
    bottom: 0;
    right: -5;
    height: 75px;
    width: 150px;
}

.change-style-s:hover {
    background-color: black;
    color: white;
}*/