<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "static/style/base.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title> WƎave </title>

  {% block head_content %}

  {% endblock %}

  
</head>

<body>

  <div class="wrapper">

    <div class="nav-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-pm">
        <a class="navbar-brand" href="/">  <i class="fas fa-location-arrow fa-sm"></i> WƎave </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
           <!--  <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" href="/mapview"> <i class="far fa-map"></i>  Route Generator</a>
                <!-- Route Builder -->
            </li>

            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/collections"> <i class="fas fa-tasks"></i>  Routes</a> 
                <!-- Routes -->
              </li>
              <li class="nav-item">
                <a id="logout" class="nav-link" href="/logout"> <i class="fas fa-door-open"></i>  Logout</a> 
                <!-- logout -->
              </li>
            {% else %}
              <li class="nav-item">
                <a id="login" class="nav-link" href="/login"> <i class="fas fa-door-closed"></i>  Login</a>
                <!-- login -->
              </li>
            {% endif %}

            
          </ul>
        </div>
      </nav>
    </div>


        {% with messages = get_flashed_messages() %}            
            {% if messages %}
                <ul class=flashes>
                
                {% for message in messages %}
                  
                  <div class="alert alert-warning" role="alert" id="success-alert">
                    <strong>{{message}}</strong>
                  </div>

                  <script type="text/javascript">
                  $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                      $("#success-alert").slideUp(500);
                  });
                </script>

                {% endfor %}

                </ul>
            {% endif %}

        {% endwith %}

      

    {% block content %} 

    {% endblock %}


      <!-- <footer class="page-footer"> -->
      <!-- <div class="footer-copyright text-center">© 2019 Copyright:
        <a href="https://linkedin.com/in/paige-moody"> Paige Moody</a>
      </div> -->
     <!-- </footer> -->
  </div>


</body>

</html>