{% extends 'base.html' %}

{% block content %}

<!-- add functionality that shows login or register forms depending on
what the user clicks -->

<!-- <div>
  <button>Login</button>
  <button>Register</button>
</div>   -->
  

</div>

<div>
  <h2>LOG IN</h2>
    <form method="POST" action="/login_submission">
      <ul>
        Username: <input type="text" name="username" value="happypanda1"required/> <br>
        Password: <input type="password" name="password" value="something1"required/> <br>
        <input type="submit" value="Log in" />
      </ul>
    </form>
</div>

<div class = "register">
  <h2>Register</h2>
    <form method="POST" action="/register">
      <ul>
        Username: <input type="text" name="username" value="test_user" required/> <br>
        Email: <input type="text" name="email" value="test_user2@aol.fake"required/><br>
        Password: <input type="password" name="password" value="1234" required/> <br>
        <input type="submit" value="Register"/>

      </ul>
    </form>
</div> 

{% endblock %}