{% extends 'base.html' %}

{% block head_content%}
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' />

    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>

    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>

    <link rel = "stylesheet" href = "static/style/login.css" />


{% endblock %}


{% block content %}

<!-- add functionality that shows login or register forms depending on
what the user clicks -->

<div class="main-content">
  <div id="login-options">

    <div class = "login">
        <form method="POST" action="/login_submission" class="form-style-1">
          Username<br> <input type="text" name="username" required/><br>
          Password<br><input type="password" name="password" required/><br>
          <input id="submit" type="submit" value="Log in" />
        </form>
    </div>

    <br>

    <div class = "register">
        <form method="POST" action="/register" class="form-style-1">
          
          Username<br><input type="text" name="username" required/><br>
          Email<br><input type="text" name="email" required/><br>
          Password<br><input type="password" name="password"required/> <br>
          <input id="submit" type="submit" value="Register"/>

        </form>
    </div> 

  </div>

  <div id="map">
    <script>

    mapboxgl.accessToken = 'pk.eyJ1IjoicGFpZ2VlbW9vZHkiLCJhIjoiY2owbDcyejhvMDJwNzJ5cDR0YXE1aG10MCJ9.a-JLnrmMPSJNwOGQdloTDA';


    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/paigeemoody/cjwrd9yfe1mt41cp2cvaafrmq?optimize=true',
      center: [-122.400932, 37.758250],
      zoom: 11,
      pitch: 45
    });
     
    function rotateCamera(timestamp) {
      // clamp the rotation between 0 -360 degrees
      // Divide timestamp by 100 to slow rotation to ~10 degrees / sec
      map.rotateTo((timestamp / 300) % 360, {duration: 0});
      // Request the next frame of the animation.
      requestAnimationFrame(rotateCamera);
    }
     
    map.on('load', function () {
    // Start animation.
      rotateCamera(0);

    });
    </script>

  </div>
</div>
{% endblock %}