  
{% extends 'base.html' %}

{% block content %}

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>

  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>

</head>

<body>

    <!-- remove later! just for demo purposes -->
    <style>
    .calculation-box {
    height: 75px;
    width: 150px;
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
    }
     
    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }

    </style>

    <!--  end of stuff to remove later -->

    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>

    <div id='map'></div>

    <div class='calculation-box'>
        <p>Draw a polygon using the draw tools.</p>
        <div id='calculated-area'></div>
    </div>

    <script>

    mapboxgl.accessToken = 'pk.eyJ1IjoicGFpZ2VlbW9vZHkiLCJhIjoiY2owbDcyejhvMDJwNzJ5cDR0YXE1aG10MCJ9.a-JLnrmMPSJNwOGQdloTDA';

    var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/satellite-v9', //hosted style id
    center: [-122.400932, 37.758250], // starting position is balloonicorn example route centr
    zoom: 16 // starting zoom
    });
     
    var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: true,
            trash: true
        }
    });

    map.addControl(draw);
     
    map.on('draw.create', updateArea);
    map.on('draw.delete', updateArea);
    map.on('draw.update', updateArea);
     
    function updateArea(e) {

        var data = draw.getAll();

        var answer = document.getElementById('calculated-area');
      
        if (data.features.length > 0) {

            drawnFeatureCollection = (JSON.stringify(data))

            console.log(drawnFeatureCollection)

            answer.innerHTML = '<p>' + drawnFeatureCollection + '</p>' ;
        } 

        else {
            answer.innerHTML = '';
            if (e.type !== 'draw.delete') alert("Use the draw tools to draw a polygon!");
        }
    }

    </script>

</body>

{% endblock %}



