  
{% extends 'base.html' %}

{% block content %}

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />

  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>

</head>

<body>

    <!-- remove later! just for playing around purposes -->
    <style>

        .calc_route_btn {
            background-color: rgba(255, 255, 255, .9);
            position: absolute;
            height: 75px;
            width: 150px;   
        } 

        .calc_route_btn:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }

    </style>

    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>

    <div id='map'></div>

    <div id = 'calc_route'> 
        
        <!-- add button when bbox has been drawn -->

    </div>

</body>

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicGFpZ2VlbW9vZHkiLCJhIjoiY2owbDcyejhvMDJwNzJ5cDR0YXE1aG10MCJ9.a-JLnrmMPSJNwOGQdloTDA';


    // LOAD MAP 
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/satellite-v9', //hosted style id
        center: [-122.400932, 37.758250], // starting position is balloonicorn example route centr
        zoom: 16 // starting zoom
    });


    // DRAW BBOX 

    let bboxGeometry = {}

    var draw = new MapboxDraw({

        displayControlsDefault: false,

        controls: {
            polygon: true,
            trash: true
        }

    }); 

    map.addControl(draw);
     
    map.on('draw.create', updateStatus);
    map.on('draw.delete', updateStatus);
    map.on('draw.update', updateStatus);
     
    function updateStatus(e) {

        let data = draw.getAll();

        // let calcRouteBtn = document.querySelector('#calc_route_btn');

        // let calcRoute = $('#calc_route')

        console.log(calcRouteBtn)

        if (data.features.length > 0) {

            bboxGeometry = JSON.stringify(data)

            drawnFeatureCollection = (JSON.stringify(data))

            // console.log(drawnFeatureCollection)

            // MAKE AN ELEMENT INSTEAD HERE (TOMORROW)
            calcRouteHTML= "<button id='calcuate-route-btn' class='calc_route_btn'> Calculate Route  </button>"

            $('#calc_route').html(calcRouteHTML);

            // drawing_status.innerHTML = '<div>' + SOMETHING + '</div>';

            // console.log(bboxGeometry)

            //GET ROUTE CALCULATION

            function getRoute(e){

                // console.log("hi");

                const url = 'http://0.0.0.0:5000/route_geometry.geojson';

                map.addSource('route', { type: 'geojson', data: url});

                map.addLayer({
                    "id": "route", // rename?
                    "type": "line",
                    "source": "route", 
                    "paint": {
                        "line-color": "#FF0000",
                        "line-width": 8
                    }
                });

            }

            const calcRouteBtn = $('#calcuate-route-btn');

            calcRouteBtn.on('click', getRoute);

        } 

        else {

            // drawing_status.innerHTML = '';

            if (e.type !== 'draw.delete') alert("Use the draw tools to draw a polygon!");
        }
    }
    
    

    //  function to add geojson of route 

    // map.on("load", function() {
    //     var url = 'http://0.0.0.0:5000/route_geometry.geojson';
    //     map.addSource('route', { type: 'geojson', data: url});

    //     map.addLayer({
    //         "id": "route", // rename?
    //         "type": "line",
    //         "source": "route", 
    //         "paint": {
    //             "line-color": "#FF0000",
    //             "line-width": 8
    //         }
    //     });

    // });


    </script>

</body>

{% endblock %}



