{% extends 'base.html' %}


{% block head_content %}
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

<!-- Map stuff -->

<meta charset='utf-8' />
<title>Display a map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<!-- end map stuff -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<style>

  body { 
        margin:0; 
        padding:0; 
        font-family: 'Didact Gothic';
  }

 #main-content {
    position: relative;
    height: 100vh;
    margin: 20px;
  }

  #map { 
          position:absolute; 
          top:0; 
          bottom:0; 
          width:100%;
          height: 85%;
          /*padding: inherit;*/
          border-radius: 10px 10px 10px 10px;
      }

  #all-content-row { 
    height: 100vh;
   }

  #animate {
    background-color: black:
    color: white; 
  }

  .tabcontent-parent {
    font-size: 14px;
  }

  #route-details {
      font-size: 10px;
      border: 10px;
  }

  .container-2.custom-container {
      padding: 0 20px;
    }

/*  .col-2.custom-column{
    padding-right: 0px;
  }

  .col-4.custom-column{
    padding-left: 0px;
  }*/

  .route-info {
    background: #f2f2f2;
    /*border: 1px solid;*/
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
  }

  .route-info:hover {
    /*background: #cad2d3;;*/
    background-color: #ccd1d1;
    color: black;
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1;*/
    border-bottom: 10px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: #f2f2f2;
    float: left;
    border: none;
    /*border-radius: 10px 10px 0 0;*/
    outline: none;
    cursor: pointer;
    padding: 6px 8px;
    transition: 0.3s;
    font-size: 14px;
    color: #ccc;
    border-radius: 4px;
/*    width: 100%;*/
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    /*background-color: #ddd;*/
    background-color: #ccd1d1;
    color: black;

  }

  /* Create an active/current tablink class */
  .tab button.active {
    /*border-bottom: 10px;*/
    z-index: 2;
    color: black;
    background-color: #ccd1d1;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
    /*border-radius: 0 10px 0 0;*/
    /*width: 40%;*/
  }

  .tabcontent button {
    border: none;
    /*transition: 0.3s;*/
    font-size: 12px;
    color: black;
    border-radius: 10px;
  }

  .tabcontent button:hover {
    background-color: white;
    
  }

  .tabcontent li {
      font-size: 12px;
  }

/*  .collection-cards {
    width: 40%;
  }*/

</style>

{% endblock %}

{% block content %}

<div id="main-content" class="custom-container container">

  <div id="all-content-row" class="row">

    <div class="col-2 order-md-1">

      <div class="tab"  class="row">

        Collections<br>
            {% for collection in current_user.collections %}
                <br>
                <button 
                  id="{{collection.collection_id}}" 
                  class="tablinks" 
                  onclick="openCollection(event, '{{collection.collection_name}}')"> 
                  {{collection.collection_name}}
                </button>
                <br>
            {% endfor %}
      </div>  <!-- "tab" end --> 


    </div>

    <div class="col-4 order-md-2">
      Routes

      <div id="collection-cards"> <!-- removed class="container" -->
              
           <div  id="top-content">
                  <!-- make a button for each route name -->
                  <!-- <div class="tab"  class="row">
                      {% for collection in current_user.collections %}
                          <button 
                            id="{{collection.collection_id}}" 
                            class="tablinks" 
                            onclick="openCollection(event, '{{collection.collection_name}}')"> 
                            {{collection.collection_name}}
                          </button>
                      {% endfor %}
                  </div>  "tab" end --> 
                  <div class="tabcontent-parent">

                          {% for collection in current_user.collections %}

                          <div id="{{collection.collection_name}}" class="tabcontent">

                              

                                {% for route in collection.routes %}
                                <div class="route-info" id="{{route.route_name}}" onclick="highLightRoute(event, '{{route.route_name}}')"
                                  >
                                  {{(route.route_name)}}
                                  <button 
                                  id="{{route.route_id}}" 
                                  class="animate"
                                  >
                                  <i class="fa fa-play fa-sm" aria-hidden="true"></i>   
                                  Play
                                  </button><br>
                                  
                                  <div id="route-details">
                                    <div id="desc-{{route.route_id}}" class="route-details">
                                        {% if route.route_geom.route_length != None %}
                                        <!-- <ul> -->
                                          Length: {{ (route.route_geom.route_length / 1.609) | round(2) }} mi
                                          <br>
                                          Duration: {{ ( route.route_geom.route_length * 15) | round | int}} min 
                                          
                                        <!-- ^ assumes 15 min walking mile -->
                                        {% endif %}
                                    </div> <!-- desc route id end -->

                                  </div> <!-- "route-details" end -->
                                  </div> <!-- "route-info" end -->
                                {% endfor %}

                              

                          </div> <!-- collection.collection_name end -->

                          
                          {% endfor %}
                          
                          <script>

                            function openCollection(evt, collectionName) {

                                  let i, tabcontent, tablinks;

                                  // get all tab content class elements
                                  tabcontent = document.getElementsByClassName("tabcontent");

                                  // hide all tabs - set display to none 
                                  for (i = 0; i < tabcontent.length; i++) {
                                    tabcontent[i].style.display = "none";
                                  }

                                  // deactivate all items in class tab 
                                  tablinks = document.getElementsByClassName("tablinks");
                                  
                                  for (i = 0; i < tablinks.length; i++) {

                                    tablinks[i].className = tablinks[i].className.replace(" active", "");

                                  }

                                  document.getElementById(collectionName).style.display = "block";
                            
                                  evt.currentTarget.className += " active";
                            }

                            function highLightRoute(evt, routeName) {

                              console.log(routeId);

                              //  get all tabcontent items 

                              routecontent = document.getElementsByClassName("route-info");

                              console.log(routecontent);

                              for (i = 0; i < routecontent.length; i++) {

                                    // turn all the other buttons non-active color
                                    routecontent[i].style[`background-color`] = '#f2f2f2';

                                    routecontent[i].style.color = '#ccc';
                                  }

                              // document.getElementById(routeName).style.display = "block";

                              // evt.currentTarget.className += " active";

                              evt.currentTarget.style[`background-color`] = '#ccd1d1';
                              evt.currentTarget.style[`color`] = 'black';
                            }

                          </script>

                  </div><!-- "tabcontent-parent" end -->

           </div> <!-- "top-content end" end -->

       </div> <!-- "collection-cards" end -->

    </div> <!-- "col-6 order-md-1" end--> 

    <div class="col-6 order-md-3">

       <div id='map' class="row">
          <script type="text/javascript" src="static/script/collections_map.js"></script>
       </div>
      
    </div>

  </div> <!-- "all-content-row" end -->
 
    
</div> <!-- "main-content" end-->


<!-- map div -->


{% endblock %}
